@font-face {
	font-family: 'galano-light';
	src: url('../custom-fonts/galano-light.eot');
	src: local('☺'), url('../custom-fonts/galano-light.woff') format('woff'),
	url('../custom-fonts/galano-light.ttf') format('truetype'),
	url('../custom-fonts/galano-light.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
